@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <p>Added to 1.0.0</p>
    <p>Added to 1.0.1</p>
    <p>Added to 1.0.2</p>
    <p>Added to 1.1.0-rc.1</p>
    <p>Added to 1.0.3</p>
</div>